body { margin:0; font-family:Arial; background:#ECE5DD; }
.chat-header {
  background:#075E54;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
}
#messages {
  height: calc(100vh - 110px);
  overflow-y:auto;
  padding:10px;
}
.msg {
  padding:8px 12px;
  margin:6px;
  border-radius:8px;
  max-width:60%;
}
.me { background:#DCF8C6; margin-left:auto; }
.other { background:#fff; }
.chat-input {
  display:flex;
  padding:10px;
  background:#f0f0f0;
}
input { flex:1; padding:8px; }
button { padding:8px; }
